@font-face {
	font-family: 'Carmela';
	src: url(../../assets/fonts/carmela.eot) format('embedded-opentype'),
	url(../../assets/fonts/carmela.eot) format('embedded-opentype'),
	url(../../assets/fonts/carmela.woff) format('woff'),
	url(../../assets/fonts/carmela.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}